.add-btn{
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(120 190 213);
    border: 3px solid rgb(20 137 233);
    color: white;
}
.db-btn{
    background-color: rgb(120 190 213);
    border: 1px solid rgb(20 137 233);
    color: white;
    cursor: pointer;
}

.find-btn{
    padding: 5px 30px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    background-color: rgb(120 190 213) !important;
    border: 3px solid rgb(20 137 233) !important;
    color: white !important;
    width: auto !important;
    margin-left: 150px !important;
}